.buttonBack {
	position: absolute;
	top: 50%;
	left: -100px;
	//transform: translateY(-50%);
	transition: 1s;
  }
  
  .buttonNext {
	position: absolute;
	top: 50%;
	right: -100px;
	//transform: translateY(-50%);
	transition: 1s;
  }

  .container {
	position: relative;
	max-width: 800px;
	margin: auto;
	overflow: hidden;
		&:hover .buttonNext{
			transition: 1s;
    		right: 5px;
		}
		&:hover .buttonBack{
			transition: 1s;
    		left: 5px;
		}
		div{
			div{
				ul{
					li{
						//visibility: hidden;
						
					}
					
				}
				
			}
		}
		.carousel__slide--visible{
			visibility: hidden;
		}
			
  }


	  